{% extends 'base.html.twig' %}

{% block title %}Accueil-Vite&Gourmand{% endblock %}

{% block body %}
    <h1>Bienvenue sur Vite & Gourmand</h1>
    <p>Page d'accueil en construction...</p>
{% endblock %}
